<h3>Create</h3>
<form method="POST" action="/create">
    <input type="text" placeholder="Title" name="title" />
    <input type="text" placeholder="Description" name="description" />
    <input type="text" placeholder="Image" name="image" />
    <input type="text" placeholder="Author" name="author" />
    <button type="submit">Create</button>
</form>